body {
  background-color: lightgrey;
  position:relative;
}

header {
}

#headerWrapper {
  background-color: grey;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}
#headerLeft{
	float:left;
}
#headerRight{
	float:right;
}

table{
  border:0px;
}
td {
  padding: 0px;
}

#entry_worldUserDiv {
  min-height: 100%;
  overflow-y: hidden;
  background-color: grey;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}

#entry_nameDiv {
  min-height: 100%;
  overflow-y: hidden;
  background-color: grey;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

#sidebar {
  position:relative;
  height: 100%;
  background-color: grey;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  vertical-align:top;
}

h1 {
  margin: 0px;
}

#variabeWrap{
  overflow-x: auto;
  padding: 10px
}

#informationTable {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 0px 0px;
}
#informationTable td, th{
  text-align: left;
  vertical-align: text-top;
  padding: 5px;
  border-bottom: 1px solid grey;
}
