{% extends "worldbuilder/base.html" %}
{% load static %}

{% block title %}
     {{ entry.name }} - worldbuilder
{% endblock %}

{% block caption %}
  {{ entry.name }}
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table id="informationTable">
    {% csrf_token %}
    {% for variable in variables %}
    <tr>
        <th>{{ variable.name }}</th>
        <td>{{ variable.value }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
