{% extends "worldbuilder/base.html" %}
{% load static %}

{% block title %}
    {{ user.username }} - worldbuilder
{% endblock %}

{% block caption %}
  {{ world.name }}
{% endblock %}

{% block content %}
<table id="informationTable">
{% csrf_token %}
{% for entry in entries %}
    <tr>
      <td><a href="{% url 'worldbuilder:entry' user.username world.name entry.name %}"> {{ entry.name }} </a></td>
    </tr>
{% endfor %}
    <tr>
      <td><a href="{% url 'worldbuilder:createEntry' user.username world.name%}"> add an entry </a></td>
    </tr>
</table>
{% endblock %}
