li a {
  color: green;
}

body {
  background-color: lightgrey;
}

header {
  background-color: #B43104;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

h1 {
  margin: 0px;
}

div {
  overflow-x: auto;
}

th, td {
  border-bottom: 1px solid grey;
  text-align: left;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 0px 0px;
}
